@{
    ViewData["Title"] = "Reintentar";
}

<div class="text-center">   
    <h2>Usuario o contraseña incorrectos, intente nuevamente</h2>
    <h3 class="display-4"> @Html.ActionLink("INICIAR SESION","Index","Sesion")</h3>

</div>
