<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="ruta_logs" value="C:\DIANA\Facultad\3er ANIO\2do Cuatrimestre\Taller de lenguajes II\TP5\tl2-tp5-2022-dianapark411\WebCadeteria\Logs\" />

    <targets>
        <!-- Target para logs de nivel Trace -->
        <target name="traceFile" xsi:type="File" fileName="${ruta_logs}trace.txt" layout="${longdate} ${message}" />
        
        <!-- Target para logs de nivel Debug -->
        <target name="debugFile" xsi:type="File" fileName="${ruta_logs}debug.txt" layout="${longdate} ${message}" />

        <!-- Target para logs de nivel Info -->
        <target name="infoFile" xsi:type="File" fileName="${ruta_logs}info.txt" layout="${longdate} ${message}" />

        <!-- Target para logs de nivel Warn -->
        <target name="warnFile" xsi:type="File" fileName="${ruta_logs}warn.txt" layout="${longdate} ${message}" />

        <!-- Target para logs de nivel Error -->
        <target name="errorFile" xsi:type="File" fileName="${ruta_logs}error.txt" layout="${longdate} ${message}" />

        <!-- Target para logs de nivel Fatal -->
        <target name="fatalFile" xsi:type="File" fileName="${ruta_logs}fatal.txt" layout="${longdate} ${message}" />
        
    </targets>

    <!-- Definir reglas para enrutar logs a los targets -->
    <rules>
        <!-- Regla para logs de nivel Trace -->
        <logger name="*" levels="Trace" writeTo="traceFile" />

        <!-- Regla para logs de nivel Debug -->
        <logger name="*" levels="Debug" writeTo="debugFile" />

        <!-- Regla para logs de nivel Info -->
        <logger name="*" levels="Info" writeTo="infoFile" />

        <!-- Regla para logs de nivel Warn -->
        <logger name="*" levels="Warn" writeTo="warnFile" />

        <!-- Regla para logs de nivel Error -->
        <logger name="*" levels="Error" writeTo="errorFile" />

        <!-- Regla para logs de nivel Fatal -->
        <logger name="*" levels="Fatal" writeTo="fatalFile" />
    </rules>
</nlog>