<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebCadeteria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebCadeteria.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>CADETERIA WEB :) </h1>
        <nav>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-area="" asp-controller="Cadete" asp-action="CargarCadete">Alta Cadete</a></li>
                <li><a asp-area="" asp-controller="Cliente" asp-action="CargarCliente">Alta Cliente</a></li>
                <li><a asp-area="" asp-controller="Pedido" asp-action="AgregarPedido">Alta Pedido</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>2022 - WebCadeteria</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
