@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">   
    <!-- Texto que quiero mostrar, accion, controlador -->
    <h3 class="display-4"> @Html.ActionLink("LISTAR CADETES","Index","Cadete")</h3>
    <h3 class="display-4"> @Html.ActionLink("LISTAR CLIENTES","Index","Cliente")</h3>
    <h3 class="display-4"> @Html.ActionLink("LISTAR PEDIDOS","Index","Pedido")</h3>

</div>
