@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">   
    <!-- Texto que quiero mostrar, accion, controlador -->
    <h3 class="display-4"> @Html.ActionLink("LISTAR CADETES","MostrarCadetes","Cadete")</h3>
    <h3 class="display-4"> @Html.ActionLink("LISTAR CLIENTES","MostrarClientes","Cliente")</h3>
    <h3 class="display-4"> @Html.ActionLink("LISTAR PEDIDOS","MostrarPedidos","Pedido")</h3>

</div>
