@{
    ViewData["Title"] = "Opciones";
}

<!-- Administrador :ABM y listado de cadetes, Pedidos y Clientes -->
<!-- Cadete: Listado de pedidos del cadete, y cambio de estado de pedidos del cadete. -->
<!-- Usuario no logueados: Pantalla de logueo -->

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@if(Accessor.HttpContext.Session.GetString("Rol") == "Administrador"){
    <div class="text-center">   
        <h3 class="display-4"> @Html.ActionLink("LISTAR CADETES","Index","Cadete")</h3>
        <h3 class="display-4"> @Html.ActionLink("LISTAR CLIENTES","Index","Cliente")</h3>
        <h3 class="display-4"> @Html.ActionLink("LISTAR PEDIDOS","Index","Pedido")</h3>
    </div>
}
else{
    @if(Accessor.HttpContext.Session.GetString("Rol") == "Cadete"){
        <div class="text-center">   
            <h3 class="display-4"> @Html.ActionLink("LISTAR PEDIDOS","MostrarPedidosCadete","Pedido", new { cadete = Accessor.HttpContext.Session.GetInt32("IdCad")})</h3>
        </div>
    }
}

